html
{
    background-color: black;
    font-family: sans-serif;
}

div.logo
{
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
}

h1.logo, h3.logo
{
    font-family: 'ZCOOL XiaoWei', serif;
    margin: 0px;
}

h1.logo
{
    font-size: 8em;
}

.logo a
{
    color: white;
    text-decoration: none;
}

.logo a:hover
{
    color: steelblue;
}

/* Flexbox practice below... */

.container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'ZCOOL XiaoWei', serif;
}

.container-item
{
    margin: 30px;
    height: 100px;
    text-align: center;
    flex: 0 1 100px; /* grow shrink basis */
    transition: .5s;
}

.container-item:hover
{
    transform: scale(1.5);
}

.apps
{
    color: white;
    text-decoration: none;
}

