html
{
    height: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: no-repeat center linear-gradient(rgb(47, 45, 223) 30%, skyblue 70%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2
{
    color: white;
}

p
{

}

#decision_pic
{
    width: 25%;
    height: auto;
}

#do_it
{
    margin-top: 70px;
    width: 40%;
    height: auto;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

.inputs
{
    margin: 10px;
}

footer 
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    font-size: small;
}

.choice
{
    margin: 50px;
    font-style: italic;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn 
{
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-moz-keyframes fadeIn 
{
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-webkit-keyframes fadeIn 
{
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-o-keyframes fadeIn 
{
    0% {opacity:0;}
    100% {opacity:1;}
}
    
@-ms-keyframes fadeIn 
{
    0% {opacity:0;}
    100% {opacity:1;}
}
